<app-calendar [getDisableDate]="disableDate"></app-calendar>

<app-slider>
  <app-slider-item>1</app-slider-item>
  <app-slider-item>2</app-slider-item>
  <app-slider-item>3</app-slider-item>
  <app-slider-item>4</app-slider-item>
  <!-- <app-slider-item>5</app-slider-item>
  <app-slider-item>6</app-slider-item>
  <app-slider-item>7</app-slider-item>
  <app-slider-item>8</app-slider-item>
  <app-slider-item>9</app-slider-item>
  <app-slider-item>10</app-slider-item>
  <app-slider-item>11</app-slider-item>
  <app-slider-item>12</app-slider-item> -->
</app-slider>
