.slide {
  white-space: nowrap;
  width: 80px;
  overflow: hidden;
}
.date12 {
  background-color: blue;
  transition: all 0.3s;
}

.round-box {
  border: 1px solid;
  padding: 10px;
}

.round {
  .active {
    color: red;
  }
}
